html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  touch-action: none;
}

#main {
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  margin: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.container div {
  background-color: lightgray;
  margin: 2px;
  transition: opacity 300ms, background-color 300ms;
}

.container div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.active {
  background-color: darkgreen !important;
}

.none {
  opacity: 0;
}

.title {
  width: 100%;
  text-align: center;
}

.levelName {
  display: block;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 48pt;
  font-family: fantasy;
  transform: translate(-50%, -50%);
  transition: opacity 500ms;
}
